<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>DEMO</title>
<link rel="stylesheet" type="text/css" href="../css/css.css" />
<link href="../Content/bootstrap.min.css" rel="stylesheet" />
<link href="../Content/jquery.fileupload.css" rel="stylesheet" />
<link href="../Content/jquery.validate.css" rel="stylesheet" />
<!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<script src="../js/jquery-3.2.0.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>

	<!-- 引入vue.js -->
	<script type='text/javascript'   src='../js/vue.min.js' ></script>

<!--模态框-->
<link rel="stylesheet" href="../css/jquery.popup.css" />
<script src="../js/jquery.popup.js"></script>
<script src="../js/jquery.popup.dialog.js"></script>

	<!--弹出框-->
	<link rel="stylesheet"  href="../css/xcConfirm.css"/>
	<script type='text/javascript'  src="../js/xcConfirm.js"  charset="utf-8"></script>
	<style type="text/css">
		/*调整弹出框的样式，其他页面可能不用加，受样式影响，控件的样式已好看*/
		.xcConfirm .popBox .ttBox {
			height: 60px;
			line-height: 30px;
			padding: 14px 30px;
			border-bottom: solid 1px #eef0f1;
		}
	</style>

<style>
	.leftTitle{float: left;width: 19%;text-align: right;}
	.inputRight{width: 70%;float: left;}

	.footer{
		height: 180px;
		width: 100%;
		position: fixed;
		bottom: 0;
	}

</style>
</head>
<body>

<div style="margin: 2%;" id="app" >
<h3 style="display: inline;" th:if="${type=='a'}"  th:id="${type}"  class="add">新增授权单位信息</h3>
<h3 style="display: inline;" th:if="${type=='e'}"  th:id="${type}"  class="edit">编辑授权单位信息</h3>

	<form  action="/authUser/createAuthUser"  id="signForm"  method="post">

		<input type="hidden"  th:value="${au_code}" id="au_code"  name="au_code"/>

		<div style="height: 30px;line-height: 30px;margin-top: 2%;">
			<div style="float: left;width: 45%;">
				<div  class="leftTitle" >医院名称：</div>
				<input type="text"  name="au_name" id="au_name" th:value="${au_name}" class="form-control inputRight" />
			</div>
			<div style="float: left;width: 45%;">
				<div class="leftTitle" >地址：</div>
				<input type="text" name="au_address" id="au_address"   th:value="${au_address}" class="form-control inputRight" />
			</div>
		</div>

		<div style="height: 30px;line-height: 30px;margin-top: 2%;">
			<div style="float: left;width: 45%;">
				<div  class="leftTitle" >联系人：</div>
				<input type="text"  name="au_linkman" id="au_linkman" th:value="${au_linkman}" class="form-control inputRight" />
			</div>
			<div style="float: left;width: 45%;">
				<div class="leftTitle" >联系人电话：</div>
				<input type="text" name="au_tel" id="au_tel"   th:value="${au_tel}" class="form-control inputRight" />
			</div>
		</div>

		<div style="height: 30px;line-height: 30px;margin-top: 2%;">
			<div style="float: left;width: 45%;">
				<div  class="leftTitle" > 联系人职位：</div>
				<input type="text"  name="au_position" id="au_position" th:value="${au_position}" class="form-control inputRight" />
			</div>
			<div style="float: left;width: 45%;">
				<div class="leftTitle" >注册码：</div>
				<input type="text" name="au_registration_code" id="au_registration_code"   th:value="${au_registration_code}" class="form-control inputRight" />
			</div>
		</div>

		<div style="height: 30px;line-height: 30px;margin-top: 2%;">
            <div style="float: left;width: 45%;">
                <div  class="leftTitle" > 实验室key：</div>
                <input type="text"  name="au_key" id="au_key" th:value="${au_key=='null'?'':au_key}" class="form-control inputRight" />
            </div>
			<div style="float: left;width: 45%;">
				<div  class="leftTitle" > 备注：</div>
				<input type="text"  name="au_remarks" id="au_remarks" th:value="${au_remarks}" class="form-control inputRight" />
			</div>

		</div>

		<div style="width: 20%;margin-left: 40%;" class="footer">
			<span class="btn btn-primary" id="sureAdd" >确定</span>
			<a class="btn btn-default" style="margin-left: 10%;"  href="/authUser/authUserList">返回</a>
		</div>

	</form>

</div>
</body>

<script>
    /*<![CDATA[*/

	var map={
        yesMenu: [],
        menu: [],
      //  organization: {},
	}
	new Vue({
		el: '#app',
		data: map
	})


    $("#sureAdd").click(function(){
        debugger;
        var au_code = $("#au_code").val();
        var au_name = $("#au_name").val();

        if (au_name.trim()==""){
            var txt= "名称不能为空！";
            window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.confirm);
            return false;
        }

        else if(au_code==""){
            //验证此单位是否已录入此用户
            $.get("/authUser/validateAuthUser",{"au_name":au_name},function(data){
                if(data=='1'){
                    var txt= "医院名称已存在";
                    window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.confirm);
                }
                else{
                    $("#signForm").submit();
                }
            })
        }

        else if(au_code!=""){
            $("#signForm").submit();
        }

    })



	/*]]>*/
</script>

</html>