<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>DEMO</title>
<link rel="stylesheet" type="text/css" href="../css/css.css" />
<link href="../Content/bootstrap.min.css" rel="stylesheet" />
<link href="../Content/jquery.fileupload.css" rel="stylesheet" />
<link href="../Content/jquery.validate.css" rel="stylesheet" />
<!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<script src="../js/jquery-3.2.0.min.js"></script>
<script src="../js/bootstrap.min.js"></script>

<!-- <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>

<!-- 引入vue.js -->
<script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>

<script src="../js/fastclick.js"></script>
<script src="../js/jquery-weui.min.js"></script>
<link href="../css/jquery-weui.min.css" rel="stylesheet" />
<link href="../css/weui.min.css" rel="stylesheet" />
<link href="../css/demos.css" rel="stylesheet" />

</head>
<body ontouchstart>

<div class="weui-gallery" style="display: block">
	<span class="weui-gallery__img" style="background-image: url(../img/images/pic_article.png);"></span>
	<div class="weui-gallery__opr">
		<a href="javascript:" class="weui-gallery__del">
			<i class="weui-icon-delete weui-icon_gallery-delete"></i>
		</a>
	</div>
</div>
</body>

<script>
    $(function() {
        FastClick.attach(document.body);
    });
</script>


</html>