<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>DEMO</title>
<link rel="stylesheet" type="text/css" href="../css/css.css" />
<link href="../Content/bootstrap.min.css" rel="stylesheet" />
<link href="../Content/jquery.fileupload.css" rel="stylesheet" />
<link href="../Content/jquery.validate.css" rel="stylesheet" />
<!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<script src="../js/jquery-3.2.0.min.js"></script>
<script src="../js/bootstrap.min.js"></script>

<!-- <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>

<!-- 引入vue.js -->
<script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>

<script src="../js/fastclick.js"></script>
<script src="../js/jquery-weui.min.js"></script>
<link href="../css/jquery-weui.min.css" rel="stylesheet" />
<link href="../css/weui.min.css" rel="stylesheet" />
<link href="../css/demos.css" rel="stylesheet" />

<style>

</style>

</head>


<body ontouchstart>

<div class="weui-tab">
	<div class="weui-tab__bd">
		<div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
			<h1>页面一</h1>
		</div>
		<div id="tab2" class="weui-tab__bd-item">
			<h1>页面二</h1>
		</div>
		<div id="tab3" class="weui-tab__bd-item">
			<h1>页面三</h1>
		</div>
		<div id="tab4" class="weui-tab__bd-item">
			<h1>页面四</h1>
		</div>
	</div>

	<div class="weui-tabbar">
		<a href="#tab1" class="weui-tabbar__item weui-bar__item--on">
			<span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>
			<div class="weui-tabbar__icon">
				<img src="../img/images/icon_nav_button.png" alt="">
			</div>
			<p class="weui-tabbar__label">微信</p>
		</a>
		<a href="#tab2" class="weui-tabbar__item">
			<div class="weui-tabbar__icon">
				<img src="../img/images/icon_nav_msg.png" alt="">
			</div>
			<p class="weui-tabbar__label">通讯录</p>
		</a>
		<a href="#tab3" class="weui-tabbar__item">
			<div class="weui-tabbar__icon">
				<img src="../img/images/icon_nav_article.png" alt="">
			</div>
			<p class="weui-tabbar__label">发现</p>
		</a>
		<a href="#tab4" class="weui-tabbar__item">
			<div class="weui-tabbar__icon">
				<img src="../img/images/icon_nav_cell.png" alt="">
			</div>
			<p class="weui-tabbar__label">我</p>
		</a>
	</div>
</div>

</body>

<script>
    $(function() {
        FastClick.attach(document.body);
    });
</script>

<script>
    $("#a").select({
        title: "选择职业",
        items: ["法官", "医生", "猎人", "学生", "记者", "其他"]
    });
</script>

</html>