<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>筛查告知书</title>
    <link rel="stylesheet" type="text/css" href="../css/css.css" />
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../Content/jquery.fileupload.css" rel="stylesheet" />
    <link href="../Content/jquery.validate.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="../js/jquery-3.2.0.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <style>
        .box{

            text-indent:2em;

        }
        body,p,div {font-family: Verdana, Arial, Helvetica, sans-serif !important;}
    </style>

</head>
<body style="margin: 0% 5%;">
<h3>新生儿疾病筛查告知书</h3>

<div style="font-size: 16px;color: grey;">
    <p style="color: red;font-weight: bold;">尊敬的新生儿家长：</p>


    <p class="box">我们真挚祝贺您喜得贵子（千金）！祝贺您当上了爸爸（妈妈）！</p>

    <p class="box">为了您的孩子健康成长和家庭幸福美满，我们想和您谈谈新生儿疾病筛查的有关知识。</p>

    <p class="box">一、什么是新生儿疾病筛查？</p>
    <p class="box">新生儿疾病筛查是指医疗保健机构在新生儿群体中,用快速、简便、敏感的检测方法,对一些危害儿童生长发育、导致儿童智能障碍的一些先天性疾病、遗传性疾病进行群体筛检，为早期诊断和治疗提供的母婴保健技术服务。目的是使这些患儿在尚未出现疾病征象时就做出早期诊断,进行有效治疗, 从而避免和减少疾病对孩子造成的损害,保障儿童的健康成长。
    </p>


    <p class="box">二、新生儿疾病筛查的依据</p>
    <p class="box">为提高出生人口素质，落实出生缺陷的三级预防措施，依据《中华人民共和国母婴保健法》及其实施办法、卫生部《新生儿疾病筛查技术规范》、《新生儿疾病筛查管理办法》，医疗保健机构依法提供新生儿疾病筛查服务。
    </p>

    <p class="box">三、我院能提供哪些疾病筛查服务？</p>
    <p class="box">我院为新筛采血单位，试验在四川省新生儿疾病筛查中心完成，目前能为您小孩提供的筛查服务有：先天性遗传代谢病（简称“四病”）和新生儿听力障碍筛查。“四病”指先天性甲状腺功能低下症（CH）、苯丙酮尿症（PKU）、葡萄糖-6-磷酸脱氢酶（G6PD）缺乏症、先天性肾上腺皮质增生症（CAH）。
    </p>



    <p class="box">四、新生儿遗传代谢病筛查</p>

    <p class="box">1、筛查方法：简便易行，采集五滴新生儿足跟血就可筛查上述“四病”。</p>

    <p class="box">2、采血时间：出生72小时后至一周内，在充分哺乳（至少喂奶六次）后采血。如果是早产儿、低体重儿可适当推迟采血时间。提前时间采血或吃奶不足采血，都会对检测结果有影响，对诊断疾病不利。
    </p>

    <p class="box">3、家庭住址、联系电话要详细告诉产科医务人员，住址、电话如有变动，应立即通知医院产科，便于今后及时与您联系。
    </p>

    <p class="box">4、因各种原因未能在住院期间按时采血者，应在出生20天内来我院补采血，千万不要有侥幸心理不来。
    </p>

    <p class="box">5、如果新生儿遗传代谢病筛查结果正常（阴性），我们就不通知您了，您可在婴儿采血后1月左右在网上查询检测结果；如果结果异常（阳性或可疑阳性），我们将及时打电话通知您，请您务必48小时内带小孩采血复查或作确诊检查，以便尽早确诊，尽早治疗，绝不能掉以轻心。否则延误治疗最佳时机，造成智力低下等情况，将使您感到终身遗憾。
    </p>

    <p class="box">6、新生儿疾病筛查结果网上查询流程。

    采血20天后，登录网址查询结果，网址：<a href="http://www.fybj.net/">http://www.fybj.net/</a>，点击新生儿疾病筛查结果查询，输入母亲姓名、出生日期、电话号码，信息必须与入院登记时一致。

    <p class="box">五、新生儿听力障碍筛查
    </p>

    <p class="box">新生儿听力障碍是指各种原因所致的新生儿听功能的先天性损害。有听力问题的小儿如未被及时发现，小儿将逐渐出现言语语言障碍，认知、心理情感发育不良，学习困难，社会交往能力差等，影响家庭和睦，也增加社会负担。通过早期筛查和正确及时的干预，就可以使小儿聋儿不哑，成为一个“健康”的社会人。
    </p>

    <p class="box">1、初筛:指新生儿出院前或出院后1个月内的第一次筛查；
    </p>

    <p class="box">2、复查：未通过初次筛查者42天内再次回初筛单位检查。对复查未通过者需及时到听力障碍确诊机构检查，采取相应干预措施，帮助患儿重建听力。
    </p>

    <p class="box">六、新生儿疾病筛查工作遵循自愿和知情选择的原则。
    </p>

    <p class="box">七、温馨提示：
    </p>

    <p class="box">1、新生儿遗传代谢病筛查采用卫生部推荐的检测技术和国家认可的仪器设备、试剂。新生儿听力筛查采用筛查型耳声发射仪和/或自动听性脑干反应仪。
    </p>

    <p class="box">2、无论应用何种筛查方法，由于个体的生理差别和其他因素，个别患者可能呈假阴性。即使通过筛查，也需要定期进行儿童保健检查。
    </p>

    <p class="box">3、我们为您的小孩所做的仅是一次CH、PKU、G6PD缺乏症、CAH、听力障碍筛查，不是确诊；我们仅对本次筛查结果负责。如果小孩在成长过程出现相应疾病临床症状体征，应及时到医疗保健机构就诊。
    </p>



</div>

</body>

</html>