


	 <div th:fragment="isCommon">
		 <div style="color: white">
			 <span style="margin-left: 1.5%;">新筛采血单位标本管理系统</span>
			 <span style="margin-left: 5%;">授权单位：</span><span>XXX市妇幼保健院</span>
			 <span style="margin-left: 5%;">使用单位：</span><span>信丰县安康医院</span>
			 <span style="margin-left: 5%;">授权单位：</span><span>XXX市妇幼保健院</span>
			 <span style="margin-left: 5%;">登录用户：</span><span th:text="${userName}"></span>
		 </div>

<!--		 <ul class="nav nav-pills" style="box-shadow: 1px 2px 2px #000;height: 41px;">
			<li style="text-align: center;margin-left: 1.5%;" >
			<a id="richeng"  th:href="@{${taskPass}+'listTasks/deadline'}" style="color: black;padding:10px 2px;font-weight: 550;" >卡片资料录入</a></li>
			
			<li style="text-align: center;margin-left: 1.5%;" >
			<a id="xiangmu" th:href="@{${projectPass}+'project/listProject'}" style="color: black;padding:10px 2px;font-weight: 550;">标本送检</a></li>
			
			<li style="text-align: center;margin-left: 1.5%;" >
			<a id="renwu" th:href="@{${taskPass}+'listTasks/listTask'}" style="color: black;padding:10px 2px;font-weight: 550;">物流人员接受</a></li>
			
			<li style="text-align: center;margin-left: 1.5%;" >
			<a id="qiandao" th:href="@{${signPass}+'sign/listSign'}" style="color: black;padding:10px 2px;font-weight: 550;">不合格标本处理</a></li>
			
			<li style="text-align: center;margin-left: 1.5%;" >
			<a id="huiyi"  th:href="@{${meetingPass}+'meeting/listMeeting'}"  style="color: black;padding:10px 2px;font-weight: 550;">召回管理</a></li>
			
			<li style="text-align: center;margin-left: 1.5%;" >
			<a href="http://lc.st.gmcc.net/model/modelList" style="color: black;padding:10px 2px;font-weight: 550;">活产数录入</a></li>

			<li style="text-align: center;margin-left: 1.5%;" >
			<a   th:href="@{${meetingPass}+'meeting/blogs'}"  style="color: black;padding:10px 2px;font-weight: 550;" >报告查询</a></li>

			<li style="text-align: center;margin-left: 1.5%;" >
				<a   th:href="@{${meetingPass}+'meeting/listMeeting'}"  style="color: black;padding:10px 2px;font-weight: 550;">消息通知管理</a></li>

			<li style="text-align: center;margin-left: 1.5%;" >
				<a href="http://lc.st.gmcc.net/model/modelList" style="color: black;padding:10px 2px;font-weight: 550;">物资管理</a></li>

			<li style="text-align: center;margin-left: 1.5%;" >
				<a   th:href="@{${meetingPass}+'meeting/blogs'}"  style="color: black;padding:10px 2px;font-weight: 550;" >数据统计</a></li>

			<li style="text-align: center;margin-left: 1.5%;" >
				<a href="http://lc.st.gmcc.net/model/modelList" style="color: black;padding:10px 2px;font-weight: 550;">财务管理</a></li>

			<li style="text-align: center;margin-left: 1.5%;" >
				<a   th:href="@{${meetingPass}+'meeting/blogs'}"  style="color: black;padding:10px 2px;font-weight: 550;" >打印机设置</a></li>

			<li style="text-align: center;margin-left: 1.5%;" >
				<a   th:href="@{${meetingPass}+'meeting/listMeeting'}"  style="color: black;padding:10px 2px;font-weight: 550;">窗口</a></li>

			<li style="text-align: center;margin-left: 1.5%;" >
				<a href="http://lc.st.gmcc.net/model/modelList" style="color: black;padding:10px 2px;font-weight: 550;">退出</a></li>

		</ul>-->


	  </div>
