.main-content {
  padding-top: 50px;
  padding-bottom: 20px;
}
input[type="date"] {
  line-height: 1.42857143;
}
a.icon:hover,
a.icon:focus,
a.fa:hover,
a.fa:focus,
a.glyphicon:hover,
a.glyphicon:focus {
  text-decoration: none;
}
.no-wrap {
  white-space: nowrap;
}
.scroll-xauto {
  width: 100%;
  margin-bottom: 15px;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
}
.scroll-yauto {
  height: 100%;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
}
.with-colon:after {
  content: ":";
}
/* Globalization */
html:lang(en-US) .with-colon:after {
  content: ":";
}
html:lang(zh-CN) body {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html:lang(zh-CN) .with-colon:after {
  content: "：";
}
