<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>报告单</title>
<link rel="stylesheet" type="text/css" href="../css/css.css" />
<link href="../Content/bootstrap.min.css" rel="stylesheet" />
<link href="../Content/jquery.fileupload.css" rel="stylesheet" />
<link href="../Content/jquery.validate.css" rel="stylesheet" />
<!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<script src="../js/jquery-3.2.0.min.js"></script>
<script src="../js/bootstrap.min.js"></script>

<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>

<!-- 引入vue.js -->
<script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>

<script src="../js/fastclick.js"></script>
<script src="../js/jquery-weui.min.js"></script>
<link href="../css/jquery-weui.min.css" rel="stylesheet" />
<link href="../css/weui.min.css" rel="stylesheet" />
<link href="../css/demos.css" rel="stylesheet" />

<link href="../css/style.css" rel="stylesheet" />

    <script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <script src="../js/JS-SDK.js"></script>

    <!-- 引入vue.js -->
    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>

    <script src="../js/fastclick.js"></script>
    <script src="../js/jquery-weui.min.js"></script>
    <link href="../css/jquery-weui.min.css" rel="stylesheet" />
    <link href="../css/weui.min.css" rel="stylesheet" />
    <link href="../css/demos.css" rel="stylesheet" />

</head>
<body style="background-color: white;">

<div class="weui-cell" style="border-bottom: 1px solid 	#F5F5F5">
    <div class="weui-cell__hd"><img src="../img/yichun.png"></div>
    <div class="weui-cell__bd">
        <span style="font-size: 18px;color: #1A9E39;">新生儿疾病筛查报告单</span>
    </div>
</div>


    <center style="margin-top: 15%;" th:if="${listSize==0}">
        <div>
            <img src="../img/report.png" />
        </div>
        <div style="margin-top: 15%">暂时没查找到报告明细！</div>
    </center>

    <div class="weui-cells__title" th:if="${listSize!=0}" style="font-size: 18px;color: black;">
        您有<span th:text="${listSize}"></span>条报告:
    </div>

    <div th:each="a:${list}" >
        <div class="weui-cells" style="border: 3px solid #ddd;border-radius: 12px;color: grey;margin: 5px 10px;">
            <a class="weui-cell weui-cell_access" th:href="@{/reportQuery/reportPreview(c_id=${a.c_id},c_code=${a.c_code},authorHospital=${a.authorHospital})}" >
                <div class="weui-cell__bd">
                    <p th:text="${a.p_m_name}"></p>
                    <p th:text="${a.bloodCard}"></p>
                    <p th:text="${a.combineName+'报告'}"></p>
                </div>
                <div class="weui-cell__ft">
                    查看
                </div>
            </a>
        </div>
    </div>


</body>

<script>


</script>
</html>