<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>DEMO</title>
<link rel="stylesheet" type="text/css" href="/css/css.css" />
<link href="/Content/bootstrap.min.css" rel="stylesheet" />
<link href="/Content/jquery.fileupload.css" rel="stylesheet" />
<link href="/Content/jquery.validate.css" rel="stylesheet" />
<!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<script src="/js/jquery-3.2.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>

	<!-- 引入vue.js -->
	<script type='text/javascript'   src='/js/vue.min.js' ></script>

<!--模态框-->
<link rel="stylesheet" href="/css/jquery.popup.css" />
<script src="/js/jquery.popup.js"></script>
<script src="/js/jquery.popup.dialog.js"></script>

<!--ztree的css、js -->
<link rel="stylesheet" href="/css/demo.css" type="text/css" />
<link rel="stylesheet" href="/css/zTreeStyle/zTreeStyle.css" type="text/css" />
<script type="text/javascript" src="/js/jquery.ztree.core.js"></script>
<script type="text/javascript" src="/js/jquery.ztree.excheck.js"></script>
<script type="text/javascript" src="/js/jquery.ztree.exedit.js"></script>

	<!--封装的方法-->
	<script src="/js/until.sdk.format.js"></script>
	<!--封装的样式-->
	<link rel='stylesheet'   href='/css/table.height.css'/>

	<!--模态框-->
	<link rel="stylesheet" href="/css/jquery.popup.css" />
	<script src="/js/jquery.popup.js"></script>
	<script src="/js/jquery.popup.dialog.js"></script>

	<style type="text/css">
		/*调整弹出框的样式，其他页面可能不用加，受样式影响，控件的样式已好看*/
		.xcConfirm .popBox .ttBox {
			height: 60px;
			line-height: 30px;
			padding: 14px 30px;
			border-bottom: solid 1px #eef0f1;
		}
	</style>

<style>
	.leftTitle{float: left;width: 7%;text-align: center;}
	.inputRight{width:60%;float: left;}

	.footer{
		height: 180px;
		width: 100%;
		position: fixed;
		bottom: 0;
	}

	a {text-decoration:none;}
	body {
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 14px;
	}
</style>
</head>
<body>

<div style="margin: 2%;" id="app" >

	<h3 style="display: inline;" th:if="${type=='a'}"  th:id="${type}"  class="add">新增签名</h3>
	<h3 style="display: inline;" th:if="${type=='e'}"  th:id="${type}"  class="edit">编辑签名</h3>

	<form  id="uploadFile" method="post">

		<input type="hidden"  th:value="${id}" id="id"  name="id"/>
		<input type="hidden"  th:value="${type}" id="type"  name="type"/>

		<div style="height: 30px;line-height: 30px;margin-top: 2%;">
			<div>
				<div class="leftTitle" >页面：</div>
				<input type="text" name="page" id="page" th:value="${page}" class="form-control inputRight" />
			</div>
		</div>
		<div style="height: 30px;line-height: 30px;margin-top: 2%;">
			<div>
				<div class="leftTitle" >页面内容：</div>
				<textarea class="form-control inputRight"
					id="pageContent" name="pageContent" th:text="${pageContent}">
				</textarea>
			</div>
		</div>

		<div style="clear: both;"></div>
		<div style="height: 30px;line-height: 30px;margin-top: 2%;">
			<div>
				<div class="leftTitle" >页面图片：</div>
				<input  type="file" name="file" multiple="multiple"  id="image1" />
				<div style="margin-top: 2%;margin-left: 7%;" >
					<img id="image"  th:if="${id!=null}" th:src="@{/open/dynamicConfig/Pictureshows(id=${id})}" />
				</div>
			</div>
		</div>

		<br/><br/><br/>
		<center class="centerAdd" style="color: red;font-weight: bold;font-size: 16px;display: none;">新增成功</center>
		<center class="centerEdit" style="color: red;font-weight: bold;font-size: 16px;display: none;">修改成功</center>

		<div style="width: 20%;margin-left: 40%;" class="footer">
			<span class="btn btn-primary" id="sureAdd" >确定</span>
			<a class="btn btn-default" style="margin-left: 10%;"  href="/open/dynamicConfig/dynamicConfig">返回</a>
		</div>

	</form>

</div>
</body>

<script>
    /*<![CDATA[*/

    $(function(){

        if( $("#id").val()=="" ){
           $("#image").attr("src","");
		}

	});

	var map={
        yesMenu: [],
        menu: [],
      //  organization: {},
	};

	new Vue({
		el: '#app',
		data: map
	});


    $("#sureAdd").click(function(){
        debugger;
        var id = $("#id").val();
        var pageContent = $("#pageContent").val();
        //var image = $("#image").val();

        if (pageContent.trim()==""){
            windowPoint("内容不能为空！");
            return false;
        }
        //$("#uploadFile").submit();
        var formData = new FormData($( "#uploadFile" )[0]);
        $.ajax({
			type: "POST",
			contentType: false,
			processData: false,
			url:"/open/dynamicConfig/uploadPicture",
			data:formData,
			async: false,
			error: function(request) {
				windowError("出错了");
			},
			success: function(data) {
				$("#image").attr("src","/open/dynamicConfig/Pictureshows?id="+data.id);

				var sign = data.sign;
				if("edit"==sign){
					$(".centerEdit").show();
					$(".centerEdit").fadeOut(3000);
				}
				if("add"==sign){
					$(".centerAdd").show();
					$(".centerAdd").fadeOut(3000);
				}

			}
		});


    });


    //以下是zTree的js代码
    /*zTree   start */

    var setting = {

        data: {
            simpleData: {
                enable: true
            }
        },
        callback: {
			onClick:onClick,
            onAsyncSuccess: zTreeOnAsyncSuccess

        }
    };

    function onClick(e,treeId, treeNode){
        debugger;
        //将选中的单位的id赋给隐藏的input框
        $("#organizationId").val(treeNode.id);
        $("#organizationName").text(treeNode.name);
    }

    function zTreeOnAsyncSuccess(event, treeId, treeNode, msg) {
        debugger;
        alert(msg);
    }
    var log, className = "dark";

    function getTime() {
        var now= new Date(),
            h=now.getHours(),
            m=now.getMinutes(),
            s=now.getSeconds(),
            ms=now.getMilliseconds();
        return (h+":"+m+":"+s+ " " +ms);
    }

    function selectAll() {
        var zTree = $.fn.zTree.getZTreeObj("treeDemo");
        zTree.setting.edit.editNameSelectAll =  $("#selectAll").attr("checked");
    }

    /*zTree   end */



	/*function checkTo(e){
	    if( $(e).find("input").get(0).checked==true ){  //js
            $(e).find("input").attr("checked",false);
		}else{
            $(e).find("input").attr("checked",true);
		}
	}*/

    function checkTo(e){
        if( $(e).find("input").is(":checked")==true ){  //jquery
            $(e).find("input").attr("checked",false);
        }else{
            $(e).find("input").attr("checked",true);
        }
    }


	/*]]>*/
</script>

</html>