<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>DEMO</title>
<link rel="stylesheet" type="text/css" href="/css/css.css" />
<link href="/Content/bootstrap.min.css" rel="stylesheet" />
<link href="/Content/jquery.fileupload.css" rel="stylesheet" />
<link href="/Content/jquery.validate.css" rel="stylesheet" />
<!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<script src="/js/jquery-3.2.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>


	<!-- 引入vue.js -->
	<script type='text/javascript'   src='/js/vue.min.js' ></script>

<!--模态框-->
<link rel="stylesheet" href="/css/jquery.popup.css" />
<script src="/js/jquery.popup.js"></script>
<script src="/js/jquery.popup.dialog.js"></script>

	<!--弹出框-->
	<link rel="stylesheet"  href="/css/xcConfirm.css"/>
	<script type='text/javascript'  src="/js/xcConfirm.js"  charset="utf-8"></script>
	<style type="text/css">
		/*调整弹出框的样式，其他页面可能不用加，受样式影响，控件的样式已好看*/
		.xcConfirm .popBox .ttBox {
			height: 60px;
			line-height: 30px;
			padding: 14px 30px;
			border-bottom: solid 1px #eef0f1;
		}
	</style>

<style>
	.leftTitle{float: left;width: 24%;text-align: right;}
	.inputRight{width: 70%;float: left;}
	.inputRight2{width: 30%;float: left;}

	.footer{
		height: 180px;
		width: 100%;
		position: fixed;
		bottom: 0;
	}
	a {text-decoration:none;}
	body {
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 14px;
	}

	.centerAdd {color: red;font-weight: bold;font-size: 16px;display: none;}
	.centerEdit{color: red;font-weight: bold;font-size: 16px;display: none;}
	.leftTitle {width: 10%;}


</style>
</head>
<body>

<div style="margin: 2%;" id="app" >

	<input type="hidden" th:value="${sign}" id="sign" />

	<h3 style="display: inline;" th:if="${type=='a'}" th:id="${type}" class="add">新增用户</h3>
	<h3 style="display: inline;" th:if="${type=='e'}" th:id="${type}" class="edit">编辑用户</h3>

	<form action="/open/message/createPush"  id="signForm" method="post">
		<input type="hidden"  th:value="${type}" name="type" />
		<input type="hidden" th:value="${id}" id="id"  name="id" />

		<div style="height: 30px;line-height: 30px;margin-top: 2%;">
			<div style="float: left;width: 98%;">
				<div  class="leftTitle" >意义：</div>
				<input type="text"  name="meaning" id="meaning" th:value="${meaning}" class="form-control inputRight" />
			</div>
		</div>

		<div style="height: 30px;line-height: 30px;margin-top: 2%;">
			<div style="float: left;width: 98%;">
				<div class="leftTitle" >天数/次数：</div>
				<input  type="text" name="dayCount" id="dayCount" th:value="${dayCount}" class="form-control inputRight" />
			</div>
		</div>

		<br/><br/><br/>
		<center class="centerAdd" style="color: red;font-weight: bold;font-size: 16px;display: none;">新增成功</center>
		<center class="centerEdit" style="color: red;font-weight: bold;font-size: 16px;display: none;">修改成功</center>

		<div style="width: 20%;margin-left: 40%;" class="footer">
			<span class="btn btn-primary" id="sureAdd" >确定</span>
			<a class="btn btn-default" style="margin-left: 10%;"  href="/open/message/messagePush">返回</a>
		</div>

	</form>

</div>
</body>

<script>

	$(function(){

		var sign = $("#sign").val();
		if("edit"==sign){
		    $(".centerEdit").show();
            $(".centerEdit").fadeOut(3000);
		}else if("add"==sign){
            $(".centerAdd").show();
            $(".centerAdd").fadeOut(3000);
		}

	    if( $(".edit").attr("id")=='e' ){
            $("#password").val(  $("#hidPassword").val() );
            var userId = $("#userId").val();
            $.get("/userPage/getRoleByUserId",{"userId":userId},function(data){
                map.yesRole = data;
                var array = new Array();
                $(data).each(function(i,e){
					array.push( e.roleId);
                })

                $("#roles").val( array.toString() );
            })
        }


	})

	//bootstrap中常用到的下拉菜单dropdown-menu默认是当点击下拉菜单的任一位置就会关闭下拉菜单框了
    $("body").on('click','[data-stopPropagation]',function (e) {
        e.stopPropagation();
    });

	var map={
	    yesRole: [],
        role: [],
      //  organization: {},


	}
	new Vue({
		el: '#app',
		data: map
	})

	$("#sureAdd").click(function(){
	    var meaning = $("#meaning").val();
        var dayCount = $("#dayCount").val();

		if (meaning.trim()==""){
            var txt= "用户名不能为空！";
            window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.confirm);
            return false;
		}
        else if (dayCount.trim()==""){
            var txt= "用户名密码不能为空！";
            window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.confirm);
            return false;
		}
        else {
            $("#signForm").submit();
        }

	})

</script>

</html>